@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --theme-color: #e7e6e6;
    --primary-color: #85200C;
    --secundary-color: #1b1b1b;
    --text-color: #f1f1f1;
    --navbar-shallow-color: #c0a1a1;
    --menu-mobile-background-color: #7a5047;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 200px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color)

}
a{
  text-decoration: none;
  color: var(--text-color)  

}

.banner {
    width: 100%;
    padding: 23rem 3rem;
    text-align: center;
    background: url("../img/fondo.jpg");
    background-color: #363636e8;
    background-blend-mode: saturation;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.banner h1 {
    color: #f1f1f1;
    font-weight: 900;
    font-size: 70px;
    margin: 0;
    margin-bottom: 10px;
}

.banner p {
    margin: 0;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 17px;

}

.btn-1a {
    display: inline-block;
    background-color: #85200C;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;

}

.btn-1a:hover {
    background-color: #3d3d3d;
}

.container {
    width: 100%;
    height: 150px;
    background: #afa9a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
}

